/*Made by Rowx 30/09/2022*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,800&display=swap');

*{
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
}



body{
  margin: 0;
  background: radial-gradient(#333,rgb(78, 78, 43));
}

header{
  font-size: 55px;
  text-align: center;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: white;
  
  font-weight: 800;
}

main{
  margin: 0 auto;
  width: 85%;
  margin-top: 50px;
  border: 5px solid rgba(204,174,4,0.9);
  padding: 40px 60px;
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

input{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 35px 0;
  border:none;
  border-bottom: 1px solid #FFF;
  width: 50%;
}

.buttons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  font-weight: 400;
}
 button{
  border-radius: 10px;
  font-size: 17px;
  margin-top: 5px;
  margin-left: 5px;
  border: 3px solid rgba(204,174,4,0.9);
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: .5s;
}

button:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(204,174,4);
  transition: .5s;
}

#researchTitle{
  text-align: center;
  margin-top: 50px;
  color: #FFF;
  font-size: 1.5em;
}

#confirm{
  border-radius: 0px;
  border: 1px solid #FFF;
  background-color: #3330;
  font-size: 20px;
  padding: 20px;
  margin-left: 15px;
  transition: 0.5s;
}

#confirm:hover{
  border-radius: 0px;
  border: 1px solid #FFF;
  color: #FFF;
  transform: scale(1.1);
  padding: 20px;
  transition: 1s;
}

#confirm:active{
  color:#555;
  background-color: black;
}

#searchZone{
  color:#FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin:80px 50px 0;
  }

#searchZone div{
  margin-bottom: 50px;
  text-align: center;
}

label[for=search]{
  font-size: 20px;
  border:1px solid #FFF;
  padding: 20px;
  width: 30%;
}

#search{
  margin-left: 20px;
  padding-left: 10px;
  background-color: rgba(40, 40, 40, 0.9);
  color: #FFF;
  height: 30px;
  font-size: 20px;
}

.startResearch{
   text-align: center;
   margin-bottom: 50px;
   padding-top: 50px;
   width: 100%;
}

#startResearch{
  border-radius: 5px;
  font-size: 30px;
  padding: 10px 20px;
  border: 1px solid rgba(204,174,4,0.9);
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: 1s;
}

#startResearch:hover{
  cursor: pointer;
  box-shadow: 3px 3px 3px #555;
  transform: scale(1.2);
  transition: 0.5s;
}

#startResearch:active{
  color:#555;
  background-color: black;
}

.about{
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding: 30px 0px 40px 80px;
}

img{
  height: 150px;
  padding-right: 40px;
}

.output{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

textarea{
  width: 100%;
  height: 500px;
  background-color: #333;
  color: #ccc;
}

h5{
  font-weight: 400;
  width: 100%;
}